<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Created user <%= @user.name %></h1>
    <p>
      email: <%= @user.email %><br/>phone number: <%= @user.phone_number %>
    </p>
  </body>
</html>
