<div class="row">
	<div class="col-12">
		<div class="footer center-text">		
			<h5>
				Tomáš Radič
			</h5>
			<p>
				<%= link_to 'tomas.radic@gmail.com', 'mailto:tomas.radic@gmail.com' %>
			</p>
			<p>
				+421 905 289 248
			</p>
			<p>
				<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/tomas-radic-a85161a7/', target: :_blank %>
				●
				<%= link_to 'Github', 'https://github.com/tomas-radic/wanna-play', target: :_blank %>
			</p>
		</div>
	</div>
</div>
