<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @availabilities.group_by(&:date).each do |date, date_availabilities| %>
	<h2><%= date.to_s %></h2>
	<% date_availabilities.each do |a| %>
		<p><%= "#{a.period} / #{a.user.name} (#{a.user.email}, #{a.user.phone_number || 't.č. neznáme'})" %></p>
	<% end %>
<% end %>
