// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
} 

body {
  background-color: #333;
  background-image: url('net-background.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}

.navbar-default {
	color: white;
	background-color: #333333;
	border-color: #98ba33;

	.navbar-brand {
		color: #333333;
		background-color: #98ba33;

		&:hover {
			color: white;
			background-color: #98ba33;
		}
	}

	.navbar-nav {
		li > a {
			color: white;

			&:hover {
				color: #98ba33;
			}
		}

		li.dropdown.open > a {
			color: #333333;
			background-color: #98ba33;
		}

		li.active > a {
			color: #333333;
			background-color: #98ba33;

			&:hover {
				color: white;
				background-color: #98ba33;
			}
		}

		.dropdown-menu {
			background-color: #333333;

			li > a:hover {
				color: #98ba33;
				background-color: inherit;
			}
		}
	}
	
	.navbar-nav > li > a:focus {
	  color: white;
	  background-color: #333333;
	}
}


.alert {
	color: #333333;
	border-radius: 0;
}

.alert-success {
	background-color: #98ba33;
	border-color: #f7776a;

}

.alert-error, .alert-alert {
	background-color: #f7776a;
	border-color: #98ba33;
}

.content {
	padding-top: 80px;
}

.panel {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: #98ba33;
	color: white;
	border-radius: 0;

	.panel-heading {
		background-color: #98ba33;
		border-color: #98ba33;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.panel-body {
		padding: 18px;
	}

	.vert-spaced {
		padding: 42px 18px;
	}

	.help-block {
		color: #98ba33;
	}
}

.btn-default {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border-color: #98ba33;

	&:hover {
		background-color: #98ba33;
		color: white;
		border-color: white;
	}
}

a {
	color: inherit;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}

.underlined {
	text-decoration: underline;
}

.center-element {
	margin: 0 auto;
	display: block;
}

.center-text {
	text-align: center;
}

.justified {
	text-align: justify;
}

.sticker {
	padding: 18px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #333333;
	margin-bottom: 18px;
}

.footer {
	background-color: #333333;
	color: #98ba33;
	padding: 24px;
}
