<h1>Availabilities#index</h1>
<p>Find me in app/views/availabilities/index.html.erb</p>

<%= link_to 'Pridať', new_availability_path, remote: true %>
<div class="availabilities-list-div">
	<%= render 'availabilities_list' %>
</div>
<div class="availability-modal-div">
	<%= render 'availability_modal' %>
</div>
<%= debug @availability %>
