<%= link_to 'Pridať', new_availability_path, remote: true %>
<div class="availabilities-list-div">
	<%= render 'availabilities_list' %>
</div>
<div class="availability-modal-div">
	<%= render 'availability_modal' %>
</div>
